<!DOCTYPE html>
<html>
<head>
    <title>Account</title>
</head>
<body>
    <h1>Account Details</h1>
    <p>Username: <%= user.username %></p>
    <p>Email: <%= user.Email %></p>
    <p>Organization: <%= user.organization %></p>
</body>
</html>
