<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  <link rel="stylesheet" href="css/dashboard.css" />
</head>

<body>
  <%- include('./partials/navbar') %>

    <!-- Main content -->
    <main>
      <h1 class="welcome-message">frogPrince Dashboard</h1>
      <div class="renewal-sections">
        <!-- Ongoing Renewals -->
        <div id="ongoing-renewals" class="renewal-box"></div>

        <!-- Upcoming Renewals -->
        <div id="upcoming-renewals" class="renewal-box"></div>

        <!-- Finished Renewals -->
        <div id="finished-renewals" class="renewal-box"></div>

      </div>
      <section class="activity-section">
        <h2>Activity</h2>
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>Activity name</th>
                <th>Details</th>
                <th>Start date</th>
                <th>Status</th>
                <th>Link</th>
              </tr>
            </thead>
            <tbody id="activity-table-body">
            </tbody>
          </table>
        </div>
      </section>
    </main>

    <script>
      function toggleMenu() {
        const dropdown = document.querySelector(".dropdown");
        const hamburger = document.querySelector(".hamburger");
        dropdown.classList.toggle("active");
        hamburger.classList.toggle("active");
      }
    </script>
    <script src="/dashboard.js"></script>
</body>

</html>