<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/about.css" />
</head>

<body>

    <body>
        <%- include('./partials/navbar') %>
        <h1 class="welcome-message">Frequently asked questions</h1>
        <p>Welcome to our FAQ. Here you can learn more about frogPrince.</p>
    </body>

</html>