<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="logo"></div>
    <div class="title"><h1>frogPrince</h1></div>
    <form method="POST" action="/login" id="loginForm">
        <label>Username</label>
        <input type="text" name="username" required /><br /><br />
        <label>Password</label>
        <input type="password" name="password" required /><br /><br />
        <div class="form-container">
          <% if (typeof error !== 'undefined' && error) { %>
          <p class="error-message"><%= error %></p>
          <% } %>
          <button type="submit" class="login-button">Login</button>
        </div>
      </form>
      <form method="GET" action="/signup">
        <button type="submit" class="signup-button">Create Account</button>
      </form>
      
    <script>
      window.onload = function () {
        document.getElementById("loginForm").reset();
        localStorage.removeItem("errorMessage");
      };

      // Check if there is an error message
      var errorMessage = document.getElementById("errorMessage");
      if (errorMessage) {
        // Reset the error message
        errorMessage.innerHTML = "";
        localStorage.removeItem("errorMessage");
      }
    </script>
  </body>
</html>
