@import url('navbar.css');

/* General styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 50px);
  margin-top: 0;
  padding-top: 20px;
  box-sizing: border-box;
}

.welcome-message {
  margin-bottom: 15px;
  align-self: flex;
  text-align: center;
  padding-left: 20px;
}

h1 {
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
}

a {
  display: inline-block;
  font-family: Arial, sans-serif;
  padding: 10px;
  text-align: center;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

a.message-button {
  border: 2px solid #333;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 0 10px green;
  border-color: rgb(0, 0, 0);
  border-style: solid;
}

a:hover {
  background-color: #333;
  color: white;
}

/* Navigation bar styles */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  z-index: 1;
}

/* Dropdown menu styles */
.dropdown {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(21, 114, 28), rgb(44, 172, 53));
  overflow: hidden;
  transition: all 0.3s ease;
}

.dropdown.active {
  width: calc(100% - 200px);
}

.dropdown-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #333;
}

/* Black bar styles */
.black-bar {
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-button {
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-top: 10px;
  line-height: 50px;
}

.nav-button:hover {
  background-color: #333333;
  padding: 0 30px;
}


.activity-section td a {
  color: blue;
  text-decoration: none;
}

.activity-section td a:hover {
  background-color: transparent;
  color: blue;
  text-decoration: underline;
}

.renewal-sections {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 30px;
}

.renewal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
  margin: 0 2%;
}

.renewal-container h2 {
  margin-bottom: 5px;
}

.renewal-box {
  width: 300px;
  height: 300px;
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 20px;
}

.activity-section {
  width: 60%;
  margin: 2px auto;
}

.activity-section h2 {
  text-align: center;
  margin-bottom: 5px;
}

.activity-section table {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
  border: 2px solid #333; /* add border property */
}

.activity-section th,
.activity-section td {
  padding: 2px 2px;
  text-align: left;
  border: 1px solid #333;
  line-height: 1.2;
}

.activity-section th {
  background-color: #f2f2f2;
  font-weight: bold;
  width: 2px;
}


.table-wrapper {
  height: calc(3 * (2.2em + 12px) + (2.2em + 12px) + 1px); /* Fits 3 rows and table header (based on the line-height, padding, and border values in your CSS) */
  overflow-y: auto;
  display: inline-block;
  width: 100%;
  border:rgb(0, 0, 0);
}