/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 100vh;
  }
  
  .content-wrapper {
    width: 500px; /* Set the desired width */
    padding: 20px;
    margin-top: 100px;
  }
  
  h2 {
    text-align: center; /* Center the heading */
    margin-bottom: 20px;
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="number"],
  select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box; 
  }
  
  input[type="submit"] {
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: darkgreen;
  }
  
  /* Search container */
  .search-container {
    margin-bottom: 20px;
  }
  
  .search-container input[type="text"] {
    margin-bottom: 10px;
  }
  
  /* User list */
  .user-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .user-list li {
    margin-bottom: 5px;
  }
  
  .user-list li a {
    display: block;
    padding: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
  }
  
  .user-list li a:hover {
    background-color: #ddd;
  }

  .user.selected {
    border: 1px solid grey;
  }  
  
  